<div class="row">
  <div class="back">
    <%= link_to home_index_path do %>
      <i class="fa fa-angle-left"></i>
    <% end %>
  </div>
  <h1>Spoils</h1>
</div>

<% @spoils.each do |spoil| %>
    <div class="row">
      <div class="title">
        <div class="trash">
          <%= link_to @spoil, method: :delete, data: { confirm: "Delete?" } do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </div>
        <div class="spoil-points">
          <%= spoil.point_value %>
        </div>
        <div class="spoil-trash">Points needed: </div>
        <div class="spoil-name">
          <%= link_to spoil.content, spoil %>
        </div>
      </div>    
    </div>
<% end %>


