<div class="row">
  <div class="back">
    <%= link_to home_index_path do %>
      <i class="fa fa-angle-left"></i>
    <% end %>
  </div>
  <h1>Spoils</h1>
</div>

<% @spoils.each do |spoil| %>
  <%= link_to spoil do %>
    <div class="row">
      <div class="title">
        <div class="spoil-points">
          <%= spoil.point_value %>
        </div>
        <div class="spoil-trash">Points needed: </div>
        <div class="spoil-name">
          <%= spoil.content %>
        </div>
      </div>    
    </div>
  <% end %>
<% end %>


