- @lists.each do |list|
  = link_to list do
    .row
      %div{class: "list #{list.color}"}
        .item-count
          = list.list_items.count
          / = link_to 'Delete', list, method: :delete, data: { confirm: "Are you sure?" }
        .list-name
          = list.title