.row
  %h1 Spoilist
  %p Organize your busy life and spoil yourself while you're at it! Spoilist helps you manage your busy schedule and also rewards you for completing your to do's.

/ = render 'form'

/ %button= link_to "Sign up", new_user_registration_path
/ %button= link_to "Log in", new_user_registration_path