.welcome
  = link_to new_user_session_path do
    %button.c-button
      Log in
  .logo
    = link_to image_tag( 'logo.svg'), root_path, id: "logo"
  %h1 Spoilist
  %p Spoil yourself while organizing your busy life! Spoilist helps you manage your hectic schedule and rewards you for getting stuff done.
  %br/
  %h2 Sign up
= render 'form'

.footer
  &copy; MATT CARRINGTON
