= simple_form_for([@list, @list.list_items.build]) do |f|
  = f.text_field :content, placeholder: "Add item"
  %br/
  %br/
  %h3 Enter a date
  %br/
  = f.text_field :due_date, placeholder: "Enter a date"
  = f.submit